* {
    box-sizing: border-box;
    margin: 0;
}
body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;
}
.header {
    width: 100%;
    height: 105px;
    background: gray;
    position: relative;
}

.header > .main-menu {
    height: 105px;
    background: gray;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    position: relative;
    top: 64px;
    margin: 0 324px 0 0;
}
.main-menu > ul{
    padding: 0;
    list-style: none;
}
.main-menu ul li{
    color: white;
    margin: 8px;
    height: 100%;
    float: right;
    /*position: relative;*/
    display: block;
    
}
.dropdown li > a{
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    right: 0px;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.main-menu li a.home{
    width: 17px;
    background-position: -17px top;
}
.dropdown-menu{
    display: none;
    background-color:gray;
    width: fit-content;
    top: 30px;
    right: 30px;
    position: absolute;
    z-index: 200;
    overflow: hidden;
    margin-top: 10px;
}
.dropdown-menu li > a{
    display: block;
    padding: 3px;
}
.dropdown-menu ul li{
    color: white;
    margin: 1px;
    border-bottom: 1px solid lightgray;
    padding-right: 3px;
    list-style: none;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-menu ul{
    padding: 0;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
a:visited{
    color: white
}
.dropdown-menu li:hover {
    background-color: #ddd;
}
.logo {
    display: flex;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: 190px;
    
}
#searchBox {
    display: flex;
    position: absolute;
    top: 20px;
    left: 250px;
    width: 140px;
    border: 1px solid lightgray;
    border-top-right-radius: 10px;
    background-color: white;
    height: 21px;
}
#searchBox .input {
    display: flex;
    width: 140px;
    height: 20px;
    padding-right: 5px;
    background-color: white;
    border-top-right-radius: 10px;
    
}
#searchBox .input > input{
    display: flex;
    width: 150px;
    height: 20px;
    right: 33px;
    font-size: 12px;
    border: none
}
.lang a{
    display: flex;
    position: absolute;
    top: 2px;
    left: 160px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.container-main, .container-cubes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 1px solid lightgray;*/
}
.container-main .main-elem{
    margin-top: 30px;
    margin-left: 13px;
    position: relative;
    
    /*width: 40px;*/
}
.main-img{
    border-bottom-right-radius: 25px;
}
.main-text{
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: gray;
    margin-left: 35px;
    margin-right: 7px;
    margin-bottom: 5px;
    border-bottom-right-radius: 25px;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
}
.container-cubes .cube{
    margin-top: 15px;
    margin-left: 13px;
    position: relative;
    border: 2px solid lightgray;
    font-size: 14px;
    padding-right: 20px;
    padding-top: 5px;
    /*padding-bottom: 5px;*/
    padding-left: 15px;
    border-top-right-radius: 25px;
    background-color: whitesmoke;
    width: 290px;
}
.cube h3{
    /*margin-top: 5px;*/
    margin-left: 13px;
    position: relative;
    border-bottom: 2px solid lightgray;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #575757;
    font-weight: bold;
}
.cube a{
    float: left;
    color: #72716d;
    font-size: 13px;
    padding-left: 12px;
    margin-top: 20px;
}
.cube .map{
    float: left;
}
.cube-text{
    float: right;
    display: flex;
    flex-direction: column;
    
}
.cube-text a{
    margin-top: 5px;
}
