* {
    box-sizing: border-box;
    margin: 0;
}
body {
    direction: rtl;
    text-align: right;
    font-family: 'Arial (Hebrew)', Arial;
    padding-bottom: 38px;
    background: #fff url(header_bg.png) repeat-x center top;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 105px;
    background: gray;
    position: relative;
}

.header > nav {
    display: flex;
    width: 100%;
    height: 105px;
    background: gray;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 33px;
    position: relative;
    top: 62px;
    margin: 0 327px 0 0;
  }
nav ul > li{
    color: white;
    margin: 7px;
    height: 100%;
    float: right;
    position: relative;
    display: block;
    
}
nav li a.home{
    width: 17px;
    background-position: -17px top;
}
.logo {
    display: flex;
    width: 142px;
    height: 93px;
    position: absolute;
    bottom: -20px;
    right: 190px;
    background: url(images/paz_logo.png) no-repeat 0 0;
}
#searchBox {
    display: flex;
    float: right;
    position: absolute;
    top: 20px;
    left: 220px;
    width: 196px;
    border: 1px solid lightgray;
    border-top-right-radius: 10px;
    background: url(images/search_button.png) no-repeat 0 0;
    
}
#searchBox .input {
    display: flex;
    width: 180px;
    height: 19px;

    
}
.container-main, .container-cubes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*border: 1px solid lightgray;*/
}
.container-main .main-elem{
    margin-top: 30px;
    margin-left: 13px;
    position: relative;
    
    /*width: 40px;*/
}
.main-img{
    border-bottom-right-radius: 25px;
}
.main-text{
    position: absolute;
    bottom: 5px;
    color: white;
    background-color: gray;
    margin-left: 35px;
    margin-right: 7px;
    margin-bottom: 5px;
    border-bottom-right-radius: 25px;
    padding: 5px;
    font-size: 14px;
    line-height: 1;
}
.container-cubes .cube{
    margin-top: 15px;
    margin-left: 13px;
    position: relative;
    border: 2px solid lightgray;
    font-size: 14px;
    padding-right: 20px;
    padding-top: 5px;
    /*padding-bottom: 5px;*/
    padding-left: 15px;
    border-top-right-radius: 25px;
    background-color: whitesmoke;
    width: 290px;
}
.cube h3{
    /*margin-top: 5px;*/
    margin-left: 13px;
    position: relative;
    border-bottom: 2px solid lightgray;
    font-size: 14px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    color: #575757;
    font-weight: bold;
}
.cube a{
    float: left;
    color: #72716d;
    font-size: 13px;
    padding-left: 12px;
    margin-top: 20px;
}
.cube .map{
    float: left;
}
.cube-text{
    float: right;
    display: flex;
    flex-direction: column;
    
}
.cube-text a{
    margin-top: 5px;
}
